html,
body,
ul,
li {
  margin: 0;
  padding: 0;
}

html {
  font-size: 10px;
  min-width: 300px;
  overflow-x: hidden;
  text-rendering: optimizeLegibility;
  text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
}

input,
body {
  color: #566b78;
  background-color: hsl(0, 0%, 98%);
  font-family: 'Raleway', sans-serif;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.5;
}

ul,
li {
  margin-bottom: 2rem;
}

ul {
  list-style: none;
}

button:focus {
  outline: none;
}
